# Core Streamlit App
streamlit

# Data Handling
pandas
numpy

# Plotting
plotly

# Database
SQLAlchemy
SQLAlchemy-Utils

# Authentication & Security
PyJWT
cryptography
passlib
email-validator

# Google API & HTTP Requests
requests
google-api-python-client
google-auth
google-auth-oauthlib

# Other Utilities
python-telegram-bot
python-dotenv
python-decouple
