streamlit
pandas
numpy
plotly
SQLAlchemy
SQLAlchemy-Utils
PyJWT
cryptography
passlib
email-validator
requests
google-api-python-client
google-auth
google-auth-oauthlib
python-telegram-bot
python-dotenv
python-decouple
